/GenAITestPoC/.vs
/GenAITestPoC/src/GenAITest.CLI/bin
/GenAITestPoC/src/GenAITest.CLI/obj
/GenAITestPoC/src/GenAITest.Evaluator/bin
/GenAITestPoC/src/GenAITest.Evaluator/obj
/GenAITestPoC/src/GenAITest.Framework/bin
/GenAITestPoC/src/GenAITest.Framework/obj
/GenAITestPoC/src/GenAITest.Pipeline.Hybrid/bin
/GenAITestPoC/src/GenAITest.Pipeline.Hybrid/obj
/GenAITestPoC/src/GenAITest.Pipeline.LLM/bin
/GenAITestPoC/src/GenAITest.Pipeline.LLM/obj
/GenAITestPoC/src/GenAITest.Pipeline.RAG/bin
/GenAITestPoC/src/GenAITest.Pipeline.RAG/obj
/GenAITestPoC/src/GenAITest.RagStore/bin
*.cs
/GenAITestPoC/src/GenAITest.RagStore/obj
/GenAITestPoC/tests/MyApi.Tests.Integration/obj
/GenAITestPoC/tools/ReportGen/bin
/GenAITestPoC/tools/ReportGen/obj
/GenAITestPoC/tools/RuleML/bin
/GenAITestPoC/tools/RuleML/obj
/GenAITestPoC/tools/TestGen/bin
/GenAITestPoC/tools/TestGen/obj
/LogisticsPro_API/.vs
